aiofiles==0.6.0
appdirs==1.4.4
atomicwrites==1.4.0
attrs==20.3.0
bleach==3.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorama==0.4.4
distlib==0.3.1
docutils==0.16
fastapi==0.61.1
filelock==3.0.12
h11==0.11.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.0
idna==2.10
importlib-metadata==3.7.3
iniconfig==1.1.1
Jinja2==2.11.2
keyring==23.0.0
MarkupSafe==1.1.1
-e git+https://github.com/venkatzgithub/moji-converter.git@1120762a0d6698602d596dacd5400c244b791f8f#egg=mojiconverter
packaging==20.9
Pillow==8.0.1
pkginfo==1.7.0
pluggy==0.13.1
priority==1.3.0
py==1.10.0
pydantic==1.7
Pygments==2.8.1
pyparsing==2.4.7
pytesseract==0.3.6
pytest==6.2.2
python-multipart==0.0.5
pywin32-ctypes==0.2.0
readme-renderer==29.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
starlette==0.13.6
toml==0.10.2
tqdm==4.59.0
twine==3.4.1
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.12.2
virtualenv==20.4.3
webencodings==0.5.1
wsproto==1.0.0
zipp==3.4.1
